@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

:root {
    --color-verdeo:#002122;
    --color-blanco:#F5F5DC;
    --color-verdec:#004700;
    --color-verdep:#8A9A5C;
    --color-cafe:#654321;
    --color-verdeb:#228B22;
    --color-azul:#B1CCEF;
    --color-azulv:#2F4F4F;
    --color-cafec:#8C8175;
}
.logo {
    width: 10rem;
    height: 5rem; 
    background: url(../img/logo-ecovida\ pequeño.png) no-repeat center;
}
.color-verdeo {
    background: var(--color-verdeo);
}
.color-blanco {
    background: var(--color-blanco);
}
.color-verdec {
    background: var(--color-verdec);
}
.color-verdep {
    background: var(--color-verdep);
}
.color-cafe {
    background: var(--color-cafe);
}
.color-verdeb {
    background: var(--color-verdeb);
}
.color-azul {
    background: var(--color-azul);
}
.color-azulv {
    background: var(--color-azulv);
}
.color-cafec {
    background: var(--color-cafec);
}
.navbar-nav .nav-link:hover {
    color: var(--color-verdep); 
    text-decoration: underline;
}
.navbar a, span {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: var(--color-blanco);
    font-size: larger;
}
.fondo2 {
    background: url(../img/fondo\ 2.png);
}
h1 {
    font-family: "Lilita One", sans-serif;
    color: var(--color-blanco);
}
p {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: var(--color-blanco);
}
.card-title {
    font-family: "Lilita One", sans-serif;
    color: var(--color-cafe);
}
.card-text {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: var(--color-azulv);
}
.btn {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: var(--color-blanco);
}
.triangulo {
    width: 30%;
    height: auto;
}
.logo-footer {
    width: 10.625rem;/*170px*/
    height: 2.5rem; /*40px*/
    background: url(../img/logo-ecovida\ pequeño.png) no-repeat center;
}